<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("_home"), root_path %></li>
        <li><%= link_to t("_login"), new_user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>
